
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue; 
    
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: solid 1px red;
    width: auto;

}

.header{
    display: flex;
    border: solid 1px blue;
    width: 100%;
    justify-content: right;
    gap: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.searchContainer {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

input{
    border-radius: 8px;
    background-color: white;
}

.button{
    width: 200px;
    align-self: center;
}

.champ{
    width: 300px;
}

.Search.s1{
    align-items: flex-end;
    gap: 15px;
}

img{
    width: 350px; 
    height: 200px; 
    object-fit: cover;
}

.button.b2{
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
}

.button.b2:hover{
    background-color: #3a67b0;
    border: 1px solid #0b1c37;
}

.button.b1:hover{
    background-color: #4d90fe;
    border: 2px solid #1c4484;
}






/*
.liens {
    border: 1px solid rgb(51, 0, 255);
    float: right;
}
p {
    padding: 10px;
    border: 0px ;
}
.f0 {
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}
.b {
    width: 100px;
    border-radius: 10px;
    margin: 10px auto;
}
.Search1 {
    border: 2px solid rgb(0, 187, 255);
}



.Search2 {
    border: 2px solid rgb(0, 187, 255);
    width: 1000px;
    display: inline-block;
}
.in {
    display: block;
}
.f {
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}

.b1 {

}
*/